@font-face {
  font-family: 'MontserratCY';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/MontserratCY.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  font-display: swap;
}

@font-face {
  font-family: 'MontserratLA';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/MontserratLA.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  font-display: swap;
}